:root{
  /* Dark and Light mode colors */
    /* Text */
      --dark-text: #fff;
      --light-text: #000;
    /* First Color. Background*/
      --dark-1st: #000;
      --light-1st: #fff;
    /* Secondary Color. Lists*/
      --dark-2nd: #282828;
      --light-2nd: #d7d7d7;
    /* Third Color. Cards*/
      --dark-3rd: #505050;
      --light-3rd: #afafaf;
}

.dark-mode{
  --text: var(--dark-text);
  --1st: var(--dark-1st);
  --2nd: var(--dark-2nd);
  --3rd: var(--dark-3rd);
  --img: invert(100%) sepia(100%) saturate(0%) hue-rotate(327deg) brightness(104%) contrast(102%);
}

.light-mode{
  --text: var(--light-text);
  --1st: var(--light-1st);
  --2nd: var(--light-2nd);
  --3rd: var(--light-3rd);
  --img: invert(0%) sepia(8%) saturate(7500%) hue-rotate(355deg) brightness(103%) contrast(110%);
}

/* Colors */
.custom-text-color{color: var(--text);}
.custom-1st-color{background-color: var(--1st);}
.custom-2nd-color{background-color: var(--2nd);}
.custom-3rd-color{background-color: var(--3rd);}
.custom-img-color{filter: var(--img);}
.custom-red-color{filter: invert(18%) sepia(93%) saturate(7069%) hue-rotate(359deg) brightness(100%) contrast(116%);}
.custom-1st-border{border: 1px solid var(--1st);}
.custom-2nd-border{border: 1px solid var(--2nd);}
.focus\:custom-text-outline:focus{outline-color: var(--text);}