:root{
  /* Colors */
  --dark: #212529;
  --dark: #000000;
  --light: #f8f9fa;
  --light: #ffffff;

  --background: #000000;
  --list: #101204;
  --card: #22272b;

  --width: 256px;
  --margin: 10px;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background: var(--background);
  margin: var(--margin) calc(var(--margin)/2);
  display: grid;
  grid-auto-flow: column; 
  overflow-x: auto;
  justify-content: left;
}

#add-list-btn{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  /*border: 1px solid var(--light);*/
  color: var(--light);
  border-radius: 12px;
  padding: 6px 12px;
  width: var(--width);
  min-height: 32px;
  height: fit-content;
  margin-left: calc(var(--margin)/2);
  margin-right: calc(var(--margin)/2);
  background: var(--list);
}

.list{
  /*border: 1px solid var(--light);*/
  color: var(--light);
  border-radius: 12px;
  padding: 6px 12px;
  min-width: var(--width); 
  width: fit-content;
  display: grid;
  grid-template-columns: auto auto;
  min-height: 32px;
  height: fit-content;
  margin-left: calc(var(--margin)/2);
  margin-right: calc(var(--margin)/2);
  background: var(--list);
}

.name{
  margin: 0;
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  background: rgba(0, 0, 0, 0);
  color: var(--light);
  font-size: 1rem;
  height: fit-content;
  /*Removes the bottom right corner resizing option*/
    resize: none;
  /*Center vertically*/
    margin-top: auto;
    margin-bottom: auto;
}

.name:focus{
  /*border: 1px solid var(--light);*/
  border-radius: 5px;
  outline: none;
  outline: 1px solid var(--light);
}

.buttons{
  display: flex;
  align-items: center;
  justify-content: right;
}

.card{
  grid-column: span 2;
  border: 1px solid var(--list);
  color: var(--light);
  border-radius: 12px;
  margin-top: calc(var(--margin)/2);
  margin-bottom: calc(var(--margin)/2);
  padding: 6px 12px;
  min-width: var(--width);
  width: fit-content; 
  min-height: 32px;
  height: fit-content;
  display: grid;
  grid-template-columns: auto auto;
  background: var(--card);
}

/* Icons */
  .plus-icon{
    font-size: 1.7rem;
    color: var(--light);
    cursor: pointer;
  }
  .trash-icon{
    font-size: 1.2rem;
    color: var(--light);
    cursor: pointer;
  }
